

@-webkit-keyframes slide_animation{
    0%{left:0px;}
    10%{left:0px;}
    20%{left:1200px;}
    30%{left:1200px;}
    40%{left:2400px;}
    50%{left:2400px;}
    60%{left:1200px;}
    70%{left:1200px;}
    80%{left:0px;}
    90%{left:0px;}
    100%{left:0px;}
}
.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}
img{
    height: 400px;
    width: 600px;
}
